.round-wrap {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  /* transition-delay: 0;
  transition-duration: 0.1s;
  transition-timing-function: line; */
}